//reset css
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
//Estilo para todas las páginas
* {
  padding: 0;
  border: 0;
  margin: 0;
}
body {
  background-color:$color-background;
  color: $color-base;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

header {
  background-color: $navbar-background-color;
  margin-top: -10px;
  height: 200px;
  margin-left: -10px;
  margin-right: -10px;
}
header#principal{
  //solo para la pagina principal
  position: fixed;
  width: 110%;
}

.logo img {
  height: 200px;
  width: 200px;
}

.cabeceraLogin .logo{
  //solo para la pagina de login
	margin-left: 1000px;
    float: left;
}
.cabecera .logo {
  margin-left: 400px;
  float: left;
}

.logo h1 {
  float: right;
  margin-top: 90px;
  font-size: 2em;
  color: $navbar-color-hover;
  font-family: 'Jua', sans-serif;
}

.cabecera #menu {
  margin-left: 950px;
  text-align: center;
  font-size: 1.3em;
  width: 700px;
  margin-top: 70px;
}

.cabecera #menu ul {
  list-style-type: none;
}

.cabecera #menu ul li {
  width: 162px;
  float: left;
}

.cabecera #menu ul li a {
  display: block;
  text-decoration: none;
  color: $navbar-color-hover;
  background-color: $navbar-background-color;
  border: solid 1px $navbar-color-hover;
  padding: 8px;
  position: relative;
  transition-property: background-color;
  @include duration(2s);
}

.cabecera #menu ul li ul.submenu {
  display: none;
}

.cabecera .submenu li {
  float: left;
  margin-right: 1px;
}

.cabecera .submenu li a {
  color: $color-base;
  transition-property: background-color;
  @include duration(2s);
  display: block;
  position: relative;
}

.cabecera #menu ul li:hover {
  position: relative;
}

.cabecera #menu ul li a:hover {
  background-color: $navbar-color-hover;
  color: $color-base;
  position: relative;
}

.cabecera #menu ul li:hover ul.submenu {
  display: block;
  position: absolute;
  left: 0px;
}

.cabecera #menu ul li ul li a:hover ul.submenu {
  display: block;
  position: absolute;
  left: 161px;
  top: 0px;
}

.cabecera #menu ul li ul li a:hover {
  border-top-color: $color-base;
  position: relative;
}