//color de body
$color-background:#F5F5F7;
// Color para los errores
$color-error: #ff0000;
// Color de fondo de la barra de Menú
$navbar-background-color: #0069B2;
// Color de el texto de los elementos de la barra de menú al pasar el ratón sobre ellos
$navbar-color-hover: white;
// Color de la fuente
$color-base: black;
//color background preguntas examen
$color-fondo-examen:#686868;