.contenido{
    width: 500px;
    margin-top: 40px;
    margin-left: 1100px;
    margin-bottom: 40px;
}
.error{
    color:red;
}
#crear{
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
}