.contenido{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 100px;
    height: 300px;
}
.contenido table{
    border: solid;
   float: left;
   margin-left: 600px;
   width: 500px;
   border-collapse: collapse;
}
.contenido form{
    float: right;
    margin-right: 550px;
}
.contenido form input{
    font-size: 1.5em;
}
.contenido thead{
    background-color: #0069B2;
    border: solid 1px;
    color: white;
    font-size: 2em;
}
.contenido tbody{
    text-align: center;
    font-size: 1.5em;
}